---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "NetCare",
    desc: [
      "Built an infrastructure for a telemedicine startup focusing on remote patient monitoring",
      "Created Azure environment from scratch using Terraform as a IaC tool",
      "Developed a comprehensive CI/CD pipeline for mobile app deployment",
    ],
    tech: ["Terraform", "Azure", "Docker", "Nginx", "GitLab CI/CD"]
  },
  {
    title: "DataMesh",
    desc: [
      "Built an infrastructure for a data analytics platform",
      "Configured VMs and deployed a multi-node Kubernetes cluster on AWS",
      "Designed to handle a high volume of ~5 million data points per day",
      "Integrated Grafana and Prometheus for monitoring",
    ],
    tech: ["Docker", "Kubernetes", "AWS", "Node.js", "RabbitMQ"]
  },
  {
    title: "CloudEase",
    desc: [
      "Migrated a cloud-based CRM system from one provider to another",
      "Built the new GCP infrastructure using Terraform as a IaC tool",
      "Deployed logging and monitoring tools in GKE cluster",
    ],
    tech: ["GCP", "Terraform", "Kubernetes", "GitLab"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="DevOps | Sam Bernstein" />
  <body>
    <div class="content">
        <Sidebar selectedItem="devops" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>DevOps</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>
 </div>
            <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="coins" lcw-marquee-items="30" ></div>

          <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
          <dotlottie-wc src="https://lottie.host/965f0319-a4f5-46a6-acfc-ede4f3e4310f/L2239KOdfh.lottie" speed="0.5" style="width: 100%; height: 400px" mode="forward" loop autoplay></dotlottie-wc>
          </main>
          <div class="projects-section">
            
             <!-- Software Development -->
            <a href="https://linktr.ee/reystaking" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  
           <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
           <dotlottie-wc src="https://lottie.host/fbaf2da1-46ef-451c-8a8d-e08a4bc1c73f/UsRxkN31y9.lottie" speed="0.5" style="width: 150px; height: 200px" mode="forward" loop autoplay></dotlottie-wc> 

                </div>
              </div>
              <div class="single-projects-content">
                <h4>Staking Worldwide</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Secure, Reliable, and Experienced Validator Node Management for Blockchains.</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">ACS</div>
                    <div class="single-chip small-chip">BONK</div>
                    <div class="single-chip small-chip">JetBolt</div>
                    <div class="single-chip small-chip">Elixir</div>
                    <div class="single-chip small-chip">Aptos</div>
                    <div class="single-chip small-chip">Jupiter</div>
                    <div class="single-chip small-chip">Atom</div>
                    <div class="single-chip small-chip">Penguin</div>
                    <div class="single-chip small-chip">Puffer</div>
                    <div class="single-chip small-chip">TON</div>
                    <div class="single-chip small-chip">Pendle</div>
                    <div class="single-chip small-chip">Lido</div>
                    <div class="single-chip small-chip">Marinade</div>
                    <div class="single-chip small-chip">Rocket</div>
                    <div class="single-chip small-chip">STON</div>
                    <div class="single-chip small-chip">Archer</div>
                    <div class="single-chip small-chip">NF</div>
                    <div class="single-chip small-chip">DeDust</div>
                    <div class="single-chip small-chip">Abel</div>
                    <div class="single-chip small-chip">Floki</div>
                    
                  </div>
                </div>
              </div>
            </a>
           </div>
        </div>
      </nav>
    </div>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
